@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));
@plugin 'tailwindcss-animate';

@theme {
  --font-sans: 'Golos Text', 'Montserrat', 'system-ui', 'sans-serif';
  --font-golos: 'Golos Text', 'sans-serif';
  --font-montserrat: 'Montserrat', 'sans-serif';

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  /*
    --color-neutral-50: #f6f7fa;
    --color-neutral-100: #f6f6f6;
    --color-neutral-110: #e8e8ea;
    --color-neutral-150: #f9f9f9;
    --color-neutral-200: #e5e7eb;
    --color-neutral-250: #edeeee;
    --color-neutral-300: #b7c3da;
    --color-neutral-350: #c0c7d3;
    --color-neutral-400: #929db2;
    --color-neutral-450: #8e8c94;
    --color-neutral-550: #77757f;
    --color-neutral-700: #3e4450;
    --color-neutral-850: #262626;
    --color-neutral-860: #34303e;
    --color-neutral-950: #1d1929;
   */
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-150: #e2e8f0;
  --color-neutral-200: #cbd5e1;
  --color-neutral-250: #bfccd9;
  --color-neutral-300: #94a3b8;
  --color-neutral-350: #7e8da4;
  --color-neutral-400: #64748b;
  --color-neutral-450: #56657a;
  --color-neutral-500: #475569;
  --color-neutral-550: #3e4a5d;
  --color-neutral-600: #334155;
  --color-neutral-650: #263344;
  --color-neutral-700: #1e293b;
  --color-neutral-750: #162030;
  --color-neutral-800: #0f172a;
  --color-neutral-850: #0b1121;
  --color-neutral-900: #020617;
  --color-neutral-950: #01040f;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-150: #ebebeb;
  --color-gray-200: #e5e5e5;
  --color-gray-250: #dedede;
  --color-gray-300: #d4d4d4;
  --color-gray-350: #bcbcbc;
  --color-gray-400: #a3a3a3;
  --color-gray-450: #8a8a8a;
  --color-gray-500: #737373;
  --color-gray-550: #666666;
  --color-gray-600: #525252;
  --color-gray-650: #454545;
  --color-gray-700: #404040;
  --color-gray-750: #333333;
  --color-gray-800: #262626;
  --color-gray-850: #171717;
  --color-gray-900: #0a0a0a;
  --color-gray-950: #050505;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-x-hidden {
    height: 0;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  *::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
    height: 0.5rem;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 0.8rem;
    background-color: var(--color-gray-450);
  }

  *::-webkit-scrollbar-button {
    display: none;
  }

  body {
    background: var(--color-background);
    min-height: 100vh;
  }

  :root {
    --background: 0 0% 96.5%;
    --foreground: 0 0% 15%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;

    --primary: 225 77% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0 0% 15%;

    --muted: 210 40% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 225 77% 45%;

    --destructive: 5 72% 46%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 225 77% 45%;

    --chart-1: 225 77% 45%;
    --chart-2: 101 65% 44%;
    --chart-3: 43 96% 56%;
    --chart-4: 5 72% 46%;
    --chart-5: 217 91% 60%;

    --radius: 0.5rem;

    --sidebar-background: 225 77% 45%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 225 77% 45%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 225 77% 45%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 224 71% 58%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 225 77% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 98%;

    --destructive: 5 72% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 225 77% 60%;

    --chart-1: 225 77% 60%;
    --chart-2: 101 65% 55%;
    --chart-3: 43 96% 65%;
    --chart-4: 5 72% 55%;
    --chart-5: 217 91% 70%;

    --sidebar-background: 0 0% 9%;
    --sidebar-foreground: 240 5% 96%;

    --sidebar-primary: 225 77% 60%;
    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 0 0% 18%;
    --sidebar-accent-foreground: 240 5% 96%;

    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 225 77% 60%;
  }
}
