@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.5%;
    --foreground: 0 0% 15%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;

    --primary: 225 77% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0 0% 15%;

    --muted: 210 40% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 225 77% 45%;

    --destructive: 5 72% 46%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 225 77% 45%;

    --chart-1: 225 77% 45%;
    --chart-2: 101 65% 44%;
    --chart-3: 43 96% 56%;
    --chart-4: 5 72% 46%;
    --chart-5: 217 91% 60%;

    --radius: 0.5rem;

    --sidebar-background: 225 77% 45%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 225 77% 45%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 225 77% 45%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 224 71% 58%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 225 77% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 98%;

    --destructive: 5 72% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 225 77% 60%;

    --chart-1: 225 77% 60%;
    --chart-2: 101 65% 55%;
    --chart-3: 43 96% 65%;
    --chart-4: 5 72% 55%;
    --chart-5: 217 91% 70%;

    --sidebar-background: 0 0% 9%;
    --sidebar-foreground: 240 5% 96%;

    --sidebar-primary: 225 77% 60%;
    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 0 0% 18%;
    --sidebar-accent-foreground: 240 5% 96%;

    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 225 77% 60%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border);
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    min-height: 100vh;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-x-hidden {
    height: 0;
  }
}
