/* Scrollbar */
*::-webkit-scrollbar {
  background-color: transparent;
  width: 0.3rem;
  height: 0.3rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
}

*::-webkit-scrollbar-button {
  display: none;
}

/* Images */
img {
  user-select: none;
  max-width: 100%;
  height: auto;
  display: block;
}
